# Project libraries
# energy_models
# gemseo
# sostrades_core

# Platform inherited libraries
matplotlib>=3.4.3
numpy>=1.24.4
pandas>=2.2.2
plotly>=5.3.0
scipy>=1.13.1
tqdm>=4.61.0

# Specific libraries
seaborn==0.13.2
autograd==1.7.0
colormath==3.0.0

# Development requirements
pytest>=7.4.3
pytest-cov>=4.1.0
pytest-xdist>=3.4.0
pytest-durations>=1.2.0
